<%= form_for(@subtask) do |f| %>
  <div class="field">
    <%= f.label :work %><br>
    <%= f.text_field :work %>
  </div>
  <div class="field">
    <%= f.label :finished %><br>
    <%= f.check_box :finished %>
    <%= f.hidden_field(:parent_id, :value => params[:id]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>