<h1><%= @task.nil? ? 'Main tasks' : task.work %></h1>
<table>
<% @tasks.each do |task| %>
<tr>
  <td><%= link_to task.work, task_path(task) %></td>
  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Destroy', task_path(task), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<p>
  <%= link_to 'Back', @task.parent.nil? ? tasks_path : task_path(@task.parent) unless @task.nil? %>
  <%= link_to 'New (sub-task', new_task_path(@task) unless @task.nil? %>
</p>
<br>

<%= link_to 'New Task', new_task_path, class: "btn btn-raised btn-primary" %>
