<h2><%= @task.nil? ? 'Main tasks' : task.work %></h2>
<% @tasks.each do |task| %>
  <div class="container-fluid order">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-md">
          <h2><%= link_to task.work.upcase, task_path(task) %></h2>
          <h4>
            <%= link_to 'Edit', edit_task_path(task) %>
            <%= link_to 'Destroy', task_path(task), :confirm => 'Are you sure?', :method => :delete %>
          </h4>
        </div>
      </div>
    </div>
  </div>
<% end %>
<p>
  <%= link_to 'Back', @task.parent.nil? ? tasks_path : task_path(@task.parent) unless @task.nil? %>
  <%= link_to 'New (sub-task', new_task_path(@task) unless @task.nil? %>
</p>
<br>

<%= link_to 'New Task', new_task_path, class: "btn btn-raised btn-primary" %>
