<div class="show-task">
  
  <h2>Task </h2>
  <p>
    Work:
    <%= @task.work %>
  </p>

  <p>
    Finished:
    <% if @task.subtasks.present? %>
      <%= number_to_percentage(@task.percent_finished, precision: 1) %>
    <% else %>
      0 %
    <% end -%>
  </p>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Destroy', task_path(@task), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Back', tasks_path %>

  <% if @task.parent_id.nil? %>
    <h4>Sub Tasks</h4>
    <% if @task.subtasks.present? %>
      <% @task.subtasks.each do |subtask| %>
        <%= subtask.work %>
        <%= subtask.finished %><br>
        <%= link_to "Edit Subtask",edit_task_path(parent_id: @task.id, id: subtask.id) %> |
        <%= link_to "Destroy Subtask",task_path(subtask), :confirm => 'Are you sure?', :method => :delete %><br>
      <% end -%>
    <% end -%>
    <div class="add-subtask">
      <%= link_to "Add Subtask",newsubtask_task_path(parent_id: @task.id, id: @task.id),method: :get,remote: true, class: "add_subtask" %>
    </div>
  <% end -%>
</div>